body {
    background-image: url("./assets/img/stars.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.text-justify {
    text-align: justify;
}

.inline-limit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar {
    max-height: 390px;
}

.navbar-brand {
    img {
        transition: 0.5s;
    }
}

.navbar-brand:hover {
    img {
        opacity: 0.7 !important;
    }
}

.navbar-brand:active {
    img {
        opacity: 0.3 !important;
    }
}

.navbar {
    background-image: url("./assets/img/stars.jpg");
    background-size: 100%;
    box-shadow: black 0px 0px 15px 15px
}

.form-control {
    background-color: black;
}

.form-control:focus {
    background-color: black;
    border-color: #0dcaf0;
    box-shadow: #0dcaf0 0px 0px 10px 2px
}

.dropdown-menu-end {
    overflow-y: auto;
    max-height: 90vh;
}

.hide {
    display: none;
}

li:hover>.hide {
    display: block;
}

.crossButton {
    font-size: large;
    border: 0;
    outline: 0;
    background: none;
    color: white;
}

.crossButton:hover {
    color: red !important;
}

.crossButton:active {
    color: darkred !important;
}

.long-time-ago {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.divider {
    margin-top: 46px !important;
    flex-grow: 1;
    height: 1px;
    background-color: white;
    box-shadow: #0dcaf0 0px 0px 5px 3px
}

.carousel {
    img {
        transition: 0.5s;
    }
}

.carousel:hover {
    img {
        opacity: 0.7;
    }
}

.carousel:active {
    img {
        opacity: 0.3;
    }
}

.carousel-caption>* {
    color: white !important;
    text-shadow: black 0px 0px 10px !important
}


.carousel-control-next-icon {
    filter: none !important;
}

.carousel-control-prev-icon {
    filter: none !important;
}

.carousel-indicators>button {
    background-color: white !important
}

.card {
    background: none;
    border-color: #0dcaf0;
}

.card-img-top {
    aspect-ratio: 16/9;
    object-fit: cover
}

.hide-x {
    overflow-x: hidden;
    margin-bottom: 5px;
}


.hide-x:hover {
    overflow-x: auto;
    margin-bottom: 0px;
}

.hide-y {
    overflow-y: hidden;
    padding-right: 5px;
}

.hide-y:hover {
    overflow-y: auto;
    padding-right: 0px;
}

.hide-y::-webkit-scrollbar-thumb {
    background: #ffc107 !important;
}

.hide-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.hide-scroll::-webkit-scrollbar:hover {
    width: 5px;
    height: 5px;
}

.hide-scroll::-webkit-scrollbar-thumb {
    background: #0dcaf0;
    border-radius: 5px;
}

.hide-scroll::-webkit-scrollbar-thumb:hover {
    background: cyan;
}

.detail-title {
    font-size: 6rem;
    text-shadow: black 0 0 10px !important;

    h1 {
        font-size: 6rem;
    }

    h5 {
        margin-top: -1em;
        text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
            1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
        /*Utilizando las 4 sombras puedo hacer un borde*/
    }
}

.detail-image {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    aspect-ratio: 18/9;
    object-fit: cover
}

.detail-box {
    box-shadow: #0dcaf0 0px 0px 20px 5px
}

.nav-page {
    color: #0dcaf0 !important;
    border: 1px solid transparent;
}

.nav-page:hover {
    color: #0dcaf0 !important;
    border: 1px solid #0dcaf0;
}

.nav-page.active {
    background-color: #0dcaf0 !important;
    color: black !important;
}

.detail-link {
    text-decoration: none !important;
    color: #0dcaf0;
    transition: 0.3s;

}

.detail-link:hover {
    color: white;
}

.detail-link:active {
    color: #0dcaf0;
}

.carousel-img {
    aspect-ratio: 3;
    object-fit: cover
}

@media (max-width: 768px) {

    .hide {
        display: block;
    }

    .hide-scroll::-webkit-scrollbar {
        display: auto;
        width: 5px;
        height: 5px;
    }

    .hide-x,
    .hide-y {
        padding-right: 0;
        margin-bottom: 0;
    }

    .dropdown-menu-end {
        overflow-y: auto;
        max-height: 80vh;
    }

    .carousel-img {
        aspect-ratio: 3/2;
        object-fit: cover
    }

    .hide-scroll {
        overflow: auto;
    }

    .detail-box {
        width: 90%;
    }

    .detail-image {
        aspect-ratio: 1.5;
    }

    .detail-title {
        font-size: 2rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    .fs-5 text-justify {
        font-size: 1rem !important;
    }
}