body {
    background-image: url("./assets/img/stars.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.longTimeAgo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.divider {
    margin-top: 46px !important;
    flex-grow: 1;
    height: 1px;
    background-color: white;
    box-shadow: #0dcaf0 0px 0px 20px 5px
}

.carousel {
    img {
        transition: 0.5s;
    }
}

.carousel:hover {
    img {
        opacity: 0.7;
    }
}

.carousel:active {
    img {
        opacity: 0.3;
    }
}

.carousel-caption>* {
    color: white !important;
    text-shadow: black 0px 0px 10px !important
}


.carousel-control-next-icon {
    filter: none !important;
}

.carousel-control-prev-icon {
    filter: none !important;
}

.carousel-indicators>button {
    background-color: white !important
}

.hide-scroll {
    overflow-x: hidden;
    margin-bottom: 5px;
}


.hide-scroll:hover {
    overflow-x: scroll;
    margin-bottom: 0px;
}

.hide-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.hide-scroll::-webkit-scrollbar-thumb {
    background: #0dcaf0;
    border-radius: 5px;
}

.hide-scroll::-webkit-scrollbar-thumb:hover {
    background: cyan;

}