body {
    background-image: url("./assets/img/stars.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.text-justify {
    text-align: justify;
}

.navbar-brand {
    img {
        transition: 0.5s;
    }
}

.navbar-brand:hover {
    img {
        opacity: 0.7 !important;
    }
}

.navbar-brand:active {
    img {
        opacity: 0.3 !important;
    }
}

.navbar {
    background-image: url("./assets/img/stars.jpg");
    background-size: 100%;
    box-shadow: black 0px 0px 15px 15px
}

.form-control {
    background-color: black;
}

.form-control:focus {
    background-color: black;
    border-color: #0dcaf0;
    box-shadow: #0dcaf0 0px 0px 10px 2px
}

.hide {
    display: none;
}

li:hover>.hide {
    display: block;
}

.crossButton {
    font-size: large;
    border: 0;
    outline: 0;
    background: none;
    color: white;
}

.crossButton:hover {
    color: red !important;
}

.crossButton:active {
    color: darkred !important;
}

.long-time-ago {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.divider {
    margin-top: 46px !important;
    flex-grow: 1;
    height: 1px;
    background-color: white;
    box-shadow: #0dcaf0 0px 0px 5px 3px
}

.carousel {
    img {
        transition: 0.5s;
    }
}

.carousel:hover {
    img {
        opacity: 0.7;
    }
}

.carousel:active {
    img {
        opacity: 0.3;
    }
}

.carousel-caption>* {
    color: white !important;
    text-shadow: black 0px 0px 10px !important
}


.carousel-control-next-icon {
    filter: none !important;
}

.carousel-control-prev-icon {
    filter: none !important;
}

.carousel-indicators>button {
    background-color: white !important
}

.card {
    background: none;
    border-color: #0dcaf0;
}

.hide-scroll {
    overflow-x: hidden;
    margin-bottom: 5px;
}


.hide-scroll:hover {
    overflow-x: scroll;
    margin-bottom: 0px;
}

.hide-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.hide-scroll::-webkit-scrollbar-thumb {
    background: #0dcaf0;
    border-radius: 5px;
}

.hide-scroll::-webkit-scrollbar-thumb:hover {
    background: cyan;
}

.btn-more {
    vertical-align: middle;
    padding-top: 16%;
}

.detail-title {
    font-size: 6rem;
    text-shadow: black 0px 0px 10px !important;

    h1 {
        font-size: 6rem;
    }

    h5 {
        margin-top: -1em;
    }
}

.detail-image {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.detail-box {
    box-shadow: #0dcaf0 0px 0px 20px 5px
}

.nav-page {
    color: #0dcaf0 !important;
    border: 1px solid transparent;
}

.nav-page:hover {
    color: #0dcaf0 !important;
    border: 1px solid #0dcaf0;
}

.nav-page.active {
    background-color: #0dcaf0 !important;
    color: black !important;
}

.detail-link {
    text-decoration: none !important;
    color: #0dcaf0;
    transition: 0.3s;

}

.detail-link:hover {
    color: white;
}

.detail-link:active {
    color: #0dcaf0;
}